header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > .header-top {
  background-color:#FCDC36;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 52px;
  padding-right: 15px;
  margin-bottom: 5px;
}

.page-plus-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: max(10px, 1vw);
}

.page-plus-icon > img {
  width: max(39.43px, 3vw);
}

.page-title {
  font-weight: 900;
  font-size: max(20px, 2vw);
  line-height: 20.5px;
  text-align: center;
  color:#41197F;
  padding: max(5px, 1vw);
}

.icon-name {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 5px;
}

.search-profile {
  display: flex;
  justify-content: center;
}

.search-profile > button {
  border: none;
  background: transparent;
}

.search-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #41197F;
  width: 70vw;
  border: 1px solid black;
  border-radius: 5px;
}

.radio-container > label {
  font-size: max(12px, 1vw);
  color: white;
  margin-left: 3px;
}

.radio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

.search-filters > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25px;
  background-color:#FCC436;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.search-filters {
  width: 77%;
}

footer {
  background-color: #41197F;
  width: 100vw;
  height: 52px;
  justify-content: space-between;
}

footer > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 40px 0 40px; 
}
